<div class="card mb-4 bg-dark text-white" *ngFor="let account of accounts">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col">
          {{account.name}}
        </div>
        <div class="col">
          {{account.amount / 100 | currency }}
        </div>
        <div class="col">
          {{account.accountNumber}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="spinner-grow mb-4 align-self-center d-block mx-auto" style="width: 3rem; height: 3rem;" role="status"
    *ngIf="!accounts">
  <span class="sr-only">Loading...</span>
</div>

<div class="card mb-4 bg-dark text-white account-summ"
     *ngIf="accounts">
  <div class="card-body"
       *ngIf="accounts.length != 0">
    <span>Сумма: {{summAmount() / 100 | currency}}</span>
  </div>
  <div class="card-body"
       *ngIf="accounts.length == 0">
    No accounts
  </div>
</div>

<div class="card mb-4">
  <div class="card-body">
    <button type="button" class="btn btn-primary"
    (click)="createAccountDialog()">
      Create new account
    </button>
  </div>
</div>

<div class="card mb-4">
  <div class="card-body">
    <span>Send money:</span>
    <hr>
    <form action="transaction"
          [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="senderAccount" class="form-label">Sender Account</label>
        <input type="senderAccount" class="form-control" id="senderAccount" placeholder="Sender Account"
               formControlName="senderAccount">
      </div>
      <div class="mb-3">
        <label for="receiverAccount" class="form-label">Receiver Account</label>
        <input type="receiverAccount" class="form-control" id="receiverAccount" placeholder="Receiver Account"
               formControlName="receiverAccount">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
<!--        <span class="input-group-text">0</span>-->
        <input type="text" class="form-control" aria-label="Amount" placeholder="Amount"
               formControlName="amount">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="email" class="form-control" id="description" placeholder="Description"
               formControlName="description">
      </div>
      <select class="form-select" aria-label="Default select example"
          formControlName="commissionType">
        <option selected>Commission:</option>
        <option value="0">From sender</option>
        <option value="1">From receiver</option>
        <option value="2">In half</option>
      </select>
      <div class="mb-3">
        <button type="submit" [disabled]="!profileForm.valid" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>

<div class="card mb-4"
    *ngIf="transactions">
  <div class="card-body text-center">
    <span *ngIf="transactions.length == 0">
      No operations yet
    </span>
    <table class="table"
        *ngIf="transactions.length != 0">
      <thead>
      <tr>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Amount</th>
        <th scope="col">Description</th>
        <th scope="col">Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{transaction.senderAccountNumber}}</td>
        <td>{{transaction.receiverAccountNumber}}</td>
        <td>{{transaction.amount / 100 | currency}}</td>
        <td>{{transaction.description}}</td>
        <td>{{transaction.created | date: 'medium'}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="spinner-grow mb-4 align-self-center d-block mx-auto" style="width: 3rem; height: 3rem;" role="status"
     *ngIf="!transactions">
  <span class="sr-only">Loading...</span>
</div>
